.container {
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
h2 {
	line-height: 1.1;
}
.hero-slider {
	width: 100%;
	height: 700px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	z-index: 0;
	.swiper-slide {
		overflow: hidden;
		color: #fff;
	}
	.swiper-container {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	.slide-inner {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: left;
	}
	.swiper-button-prev {
		background: transparent;
		width: 55px;
		height: 55px;
		line-height: 53px;
		margin-top: -30px;
		text-align: center;
		border: 2px solid #d4d3d3;
		border-radius: 55px;
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease;
		left: 25px;
		transform: translateX(50px);
		.arrow-left {
			color: white;
            vertical-align: middle;
            padding-bottom: 5px;
		}
	}
	.swiper-button-next {
		background: transparent;
		width: 55px;
		height: 55px;
		line-height: 53px;
		margin-top: -30px;
		text-align: center;
		border: 2px solid #d4d3d3;
		border-radius: 55px;
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease;
		right: 25px;
		transform: translateX(-50px);
		.arrow-right {
			color: white;
            vertical-align: middle;
            padding-bottom: 5px;
		}
	}
	&:hover {
		.swiper-button-prev {
			transform: translateX(0);
			opacity: 1;
			visibility: visible;
		}
		.swiper-button-next {
			transform: translateX(0);
			opacity: 1;
			visibility: visible;
		}
	}
	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		text-align: left;
		line-height: 12px;
		font-size: 12px;
		color: #000;
		opacity: 0.3;
		background: #fff;
		transition: all .2s ease;
	}
	.swiper-pagination-bullet-active {
		opacity: 1;
	}
	.swiper-container-horizontal {
		>.swiper-pagination-bullets {
			bottom: 30px;
			bottom: 50px;
			max-width: 1200px;
			padding: 0 15px;
			margin: 0 auto;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.swiper-pagination-custom {
		bottom: 30px;
	}
	.swiper-pagination-fraction {
		bottom: 30px;
	}
}
.swiper-pagination {
	text-align: left;
}
.hero-style {
	height: 600px;
	transition: all .4s ease;
	.slide-title {
		max-width: 690px;
		h2 {
			font-size: 100px;
			font-weight: 600;
			line-height: 1;
			color: #ffffff;
			margin: 0 0 40px;
			text-transform: capitalize;
			transition: all .4s ease;
		}
	}
	.slide-text {
		max-width: 690px;
		p {
			opacity: 0.8;
			font-family: Rajdhani;
			font-size: 32px;
			font-weight: 500;
			line-height: 1.25;
			letter-spacing: normal;
			color: #ffffff;
			margin: 0 0 40px;
			transition: all .4s ease;
		}
	}
	.slide-btns {
		max-width: 690px;
		>a {
			&:first-child {
				margin-right: 10px;
			}
		}
	}
}
.theme-btn {
	background-color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
	color: #2b3b95;
	padding: 9px 32px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	display: inline-block;
	line-height: initial;
	transition: all .4s ease;
	&:hover {
		background-color: #2b3b95;
		color: #fff;
	}
	&:focus {
		background-color: #2b3b95;
		color: #fff;
	}
	&:active {
		background-color: #2b3b95;
		color: #fff;
	}
}
.theme-btn-s2 {
	background-color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
	color: #2b3b95;
	padding: 9px 32px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	display: inline-block;
	line-height: initial;
	transition: all .4s ease;
	background-color: rgba(255, 255, 255, 0.9);
	color: #131e4a;
	&:hover {
		background-color: #2b3b95;
		color: #fff;
	}
	&:focus {
		background-color: #2b3b95;
		color: #fff;
	}
	&:active {
		background-color: #2b3b95;
		color: #fff;
	}
}
a {
	text-decoration: none;
	transition: all 0.2s ease;
	&:hover {
		text-decoration: none;
	}
}
.theme-btn-s3 {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	color: #ffffff;
	text-transform: uppercase;
}
i.fa-chevron-circle-right {
	height: 22px;
	width: 22px;
}
@media (max-width: 991px) {
	.hero-slider {
		height: 600px;
	}
	.hero-style {
		height: 600px;
		.slide-title {
			h2 {
				font-size: 50px;
				margin: 0 0 35px;
			}
		}
	}
	.theme-btn {
		font-size: 13px;
		padding: 15px 25px;
	}
	.theme-btn-s2 {
		font-size: 13px;
		padding: 15px 25px;
	}
	.theme-btn-s3 {
		font-size: 13px;
		padding: 15px 25px;
	}
}
@media (max-width: 767px) {
	.hero-slider {
		height: 500px;
		.swiper-button-prev {
			display: none;
		}
		.swiper-button-next {
			display: none;
		}
	}
	.hero-style {
		height: 500px;
		.slide-title {
			h2 {
				font-size: 35px;
				margin: 0 0 30px;
			}
		}
		.slide-text {
			p {
				font-size: 16px;
				font-size: 1rem;
				font-weight: normal;
				margin: 0 0 30px;
			}
		}
	}
	.theme-btn {
		padding: 13px 20px;
		font-size: 13px;
	}
	.theme-btn-s2 {
		padding: 13px 20px;
		font-size: 13px;
	}
}
@media (min-width: 767px) {
	.hero-slider {
		.swiper-container-horizontal {
			>.swiper-pagination-bullets {
				bottom: 30px;
			}
		}
	}
}
@media screen and (min-width: 992px) {
	.hero-style {
		.container {
			padding-left: 10%;;
		}
	}
}
@media (max-width: 1199px) {
	.hero-style {
		.slide-title {
			h2 {
				font-size: 75px;
			}
		}
	}
}
