// main: main.scss
$base-font: 'Roboto', sans-serif;
$baseFontSize: 10px;

$color-default: #2e3034;
$color-white: #ffffff;
$color-light: #919191;
$color-dark-light:#C4C4C4;
$color-red: #D15813;
$color-pink: #EDF1F5;
$color-navy-blue: #062E64;
$color-dark: #0B0B0B;
$color-black-dark: #1D1D1D;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-coin: "\e908";
$icon-bookmark: "\e900";
$icon-user-two: "\e901";
$icon-filter: "\e902";
$icon-heart: "\e903";
$icon-restaurant: "\e904";
$icon-security: "\e905";
$icon-info: "\e906";
$icon-edit: "\e907";
$icon-card: "\e909";
$icon-cash: "\e90b";
$icon-logo: "\e90c";
$icon-home: "\e90d";
$icon-discount: "\e90e";
$icon-dashboard: "\e90f";
$icon-message: "\e910";
$icon-notification: "\e911";
$icon-logout: "\e912";
$icon-delete: "\e913";
$icon-settings: "\e916";
